<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>animeList</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<br/>
<h1>anime列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>foreignName</th>
            <th>chineseName</th>
            <th>episode</th>
            <th>broadcastStart</th>
            <th>broadcastEnd</th>
            <th>isFinished</th>
            <th>broadcastWeek</th>
            <th>isIncluded</th>
            <th>isWatched</th>
            <th>watchTime</th>
            <th>star</th>
            <th>remark</th>
            <th>createTime</th>
            <th>updateTime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime : ${animeList}">
            <th scope="row" th:text="${anime.id}">1</th>
            <td th:text="${anime.foreignName}">2</td>
            <td th:text="${anime.chineseName}">3</td>
            <td th:text="${anime.episode}">4</td>
            <td th:text="${anime.broadcastStart}">5</td>
            <td th:text="${anime.broadcastEnd}">6</td>
            <td th:text="${anime.isFinished}">7</td>
            <td th:text="${anime.broadcastWeek}">8</td>
            <td th:text="${anime.isIncluded}">9</td>
            <td th:text="${anime.isWatched}">10</td>
            <td th:text="${anime.watchTime}"></td>
            <td th:text="${anime.star}">12</td>
            <td th:text="${anime.remark}">13</td>
            <td th:text="${#dates.format(anime.createTime,'yyyy-MM-dd HH:mm:ss')}">14</td>
            <td th:text="${#dates.format(anime.updateTime,'yyyy-MM-dd HH:mm:ss')}">15</td>
            <td><a th:href="@{/anime/toEdit(id=${anime.id})}">edit</a></td>
            <td><a th:href="@{/anime/delete(id=${anime.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a th:href="@{/anime/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>